version: '3.8'

services:
  # --- Service 1: Data Loader ---
  data-loader:
    build: .
    # Note the path: python <Folder>/<Script>
    command: python DataLoading/data_loading.py
    environment:
      # Define where to save data inside the container
      - PROCESSED_DATA_PATH=/app/data/output_folder
      - HF_API_TOKEN=${HF_API_TOKEN}
    volumes:
      - ml_pipeline_volume:/app/data

  # --- Service 2: Model Trainer ---
  model-trainer:
    build: .
    # Note the path: python <Folder>/<Script>
    command: python ModelLoading/model_training.py
    environment:
      - PROCESSED_DATA_PATH=/app/data/output_folder
      - MODEL_OUTPUT_DIR=/app/results
      - HF_API_TOKEN=${HF_API_TOKEN}
    volumes:
      - ml_pipeline_volume:/app/data  # Read data from shared volume
      - ./results:/app/results        # Save trained model to host
    depends_on:
      data-loader:
        condition: service_completed_successfully

volumes:
  ml_pipeline_volume: