
datasets
transformers

torch      # PyTorch backend, commonly used with Hugging Face models
numpy      # For numerical operations, often a dependency of other packages

python-dotenv # Helpful for local testing of environment variables (HF_API_TOKEN)
huggingface_hub # Required for logging in via the API token

onnxruntime
evaluate
scikit-learn
accelerate