apiVersion: v1
kind: Secret
metadata:
  name: drift-monitor-secret
  namespace: {{ k8s_namespace }}
type: Opaque
stringData:
  elasticsearch-password: "{{ elasticsearch_password | default('changeme') }}"
  jenkins-user: "{{ jenkins_user }}"
  jenkins-token: "{{ jenkins_token }}"
