apiVersion: apps/v1
kind: Deployment
metadata:
  name: dataloader-{{ dataloader_name }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: dataloader-{{ dataloader_name }}
  template:
    metadata:
      labels:
        app: dataloader-{{ dataloader_name }}
    spec:
      containers:
        - name: dataloader
          image: {{ dataloader_image }}
          env:
            - name: OUTPUT_PATH
              value: "{{ output_path }}"
            - name: HF_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: hf-api-token
                  key: token
          resources:
            limits:
              cpu: "0.5"
              memory: "1Gi"
