---
- name: Ensure k8s namespace exists
  kubernetes.core.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ k8s_namespace }}"
    state: present

- name: Apply modeltrainer deployment for model {{ model_name }}
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'modeltrainer-deployment.yaml.j2') }}"
