apiVersion: apps/v1
kind: Deployment
metadata:
  name: logstash
  namespace: {{ k8s_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logstash
  template:
    metadata:
      labels:
        app: logstash
    spec:
      containers:
        - name: logstash
          image: {{ logstash_image }}
          volumeMounts:
            - name: pipeline-config
              mountPath: /usr/share/logstash/pipeline/logstash.conf
              subPath: logstash.conf
          ports:
            - containerPort: 5044
      volumes:
        - name: pipeline-config
          configMap:
            name: logstash-pipeline

---
apiVersion: v1
kind: Service
metadata:
  name: logstash
  namespace: {{ k8s_namespace }}
spec:
  selector:
    app: logstash
  ports:
    - port: 5044
      targetPort: 5044
